<div class="jumbotron">
<h1>Welcome to my wiki page</h1>
<br>
<p>This hopfully will hold some intersting information at some point. </p>
   <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => 'btn btn-large btn-danger' %>
</div>
