<div class="container">

  <h3 class="muted"><%= link_to "Wiki Home", root_path %></h3>
  <h5 class="muted">A a great way to collaborate on community-sourced content </h5>
  </div>
  <hr />
</div>
  <%= yield %>
