<div class="container">
  <div class="masthead">
  <h3 class="muted"><%= link_to "Bloc Wiki", wikis_path %></h3>
  <h5 class="muted">A a great way to collaborate on community-sourced content </h5>
  </div>
</div>
